/* ------------↓공통영역↓------------ */
@import '../_reset.css';
body {
  width: 1000px;
  margin: auto;
}
/* header */
header {
  margin-bottom: 20px;
}
header > h1 {
  text-align: center;
}
.main_logo {
  width: 120px;
  height: 120px;
}
.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu > ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* footer */
.footer {
  text-align: center;
  margin: 30px;
}
/* ------------↑공통영역↑------------ */

.product-name {
  text-align: center;
}

.product_image {
  width: 150px;
  height: 180px;
  object-fit: cover;
  padding-left: 10px;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-size: 18px;
}

.title {
  text-align: center;
  padding: 20px 20px;
}

.item_container {
  display: flex;
}

.cart_box {
  min-height: 500px;
}

.empty_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.empty_cart p {
  font-size: 30px;
}

.card-title {
  margin-bottom: 0;
}

#purchase_button {
  font-size: 20px;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
