<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./specise.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="#"><img class="main_logo" src="../assets/mainlogo.png" /></a>
      </h1>
      <hr />
      <nav class="nav_bar">
        <div class="nav_categories">카테고리</div>
        <div class="nav_menu">
          <ol>
            <li><a>로그인</a></li>
            <em>&nbsp;|&nbsp;</em>
            <li><a>마이페이지</a></li>
            <em>&nbsp;|&nbsp;</em>
            <li><a>장바구니</a></li>
            <em>&nbsp;|&nbsp;</em>
            <li><a>로그아웃</a></li>
          </ol>
        </div>
      </nav>
    </header>
    <main>
      <section class="species_info">
        <h1 class="species_name">hey~</h1>
        <nav class="species_nav_bar">
          <div>
            <span>총&nbsp;</span>
            <span class="species_total">0</span>
            <span>건</span>
          </div>
          <div class="species_nav_menu">
            <ul>
              <li><a>낮은 가격 순</a></li>
              <em>&nbsp;|&nbsp;</em>
              <li><a>높은 가격 순</a></li>
              <em>&nbsp;|&nbsp;</em>
              <li><a>가나다 순</a></li>
            </ul>
          </div>
        </nav>
      </section>
      <section class="product_area">
        <div class="product"></div>
      </section>
    </main>
    <hr />
    <footer>
      <div class="footer">
        <h1>푸터임. 나중에 정할거임 ㅋ</h1>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="./specise.js" type="module"></script>
  </body>
</html>
