<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./specise.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="specise.js" type="module" defer></script>
    <script src="../assets/layout/header-layout.js" type="module" defer></script>
    <script src="../assets/layout/footer-layout.js" type="module" defer></script>
  </head>
  <body>
    <main>
      <section class="species_info">
        <h1 class="species_name">hey~</h1>
        <nav class="species_nav_bar">
          <div>
            <span>총&nbsp;</span>
            <span class="species_total">0</span>
            <span>건</span>
          </div>
          <div class="species_nav_menu">
            <ul>
              <li><a>낮은 가격 순</a></li>
              <em>&nbsp;|&nbsp;</em>
              <li><a>높은 가격 순</a></li>
              <em>&nbsp;|&nbsp;</em>
              <li><a>가나다 순</a></li>
            </ul>
          </div>
        </nav>
      </section>
      <section class="product_area">
        <div class="product"></div>
      </section>
    </main>
  </body>
</html>
