.species_name {
  text-align: center;
  margin: 50px;

  font-size: 30px;
}

.species_nav_bar {
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.species_nav_bar > div > span:nth-child(1) {
  margin: 0 5px;
}

.species_nav_menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.species_nav_menu > ul > li {
  margin: 0 7px;
}

.product {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.no_product {
  width: 100%;
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_product > h1 {
  font-size: 30px;
  align-self: center;
}

.product_item {
  margin: 10px;
  cursor: pointer;
}

.product_img {
  width: 230px;
  height: 300px;
  object-fit: cover;
}
