.species_name {
  text-align: center;
  margin: 50px;

  font-size: 40px;
}

.species_nav_bar {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.species_nav_bar > div > span:nth-child(1) {
  margin: 0 5px;
}

.species_nav_menu > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.species_nav_menu > ul > li {
  margin: 0 7px;
}

.product {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.no_product {
  width: 100%;
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_product > h1 {
  font-size: 30px;
  align-self: center;
}

.product {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.product_item {
  width: 23%;
  margin: 30px 10px;
}

.product_item > a > h3 {
  margin: 10px 0;
  font-size: 1.1rem;
}
.product_item > a > div {
  text-align: right;
  margin: 20px 5px 10px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.product_img {
  /* border-radius: 10%; */
  width: 230px;
  height: 300px;
  object-fit: cover;
}
