<header>
  <h1>
    <a href="#"><img class="main_logo" src="../assets/mainlogo.png" /></a>
  </h1>
  <hr />
  <nav class="nav_bar">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        카테고리
      </button>
      <ul class="dropdown-menu"></ul>
    </div>
    <div class="nav_menu">
      <ol>
        <li><a>로그인</a></li>
        <em>&nbsp;|&nbsp;</em>
        <li><a>마이페이지</a></li>
        <em>&nbsp;|&nbsp;</em>
        <li><a>장바구니</a></li>
        <em>&nbsp;|&nbsp;</em>
        <li><a>로그아웃</a></li>
      </ol>
    </div>
  </nav>
</header>
