.title {
  text-align: center;
  padding: 20px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.item_container {
  display: flex;
}

.order_info_title,
.order_info,
.address_info_title,
.address_info {
  padding: 0px 20px;
}
.address_info_title2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order_info li {
  margin-top: 10px;
}

.card,
#checkout_btn {
  font-size: 20px;
}

.card-header {
  height: 50px;
  display: flex;
  align-items: center;
}
#address_update_btn {
  float: right;
}

#order_price,
#shipping_price,
#total_order_price {
  font-size: 18px;
  text-align: right;
}

.product_image {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .product_image {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
  }
}
