/* ------------↓공통영역↓------------ */
@import '../_reset.css';
body {
  width: 1000px;
  margin: auto;
}
/* header */
header {
  margin-bottom: 20px;
}
header > h1 {
  text-align: center;
}
.main_logo {
  width: 120px;
  height: 120px;
}
.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu > ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* footer */
.footer {
  text-align: center;
  margin: 30px;
}
/* ------------↑공통영역↑------------ */
.title {
  text-align: center;
}

.product_image {
  width: 150px;
  height: 180px;
  object-fit: cover;
  padding-left: 10px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.item_container {
  display: flex;
}

.order_info_title,
.order_info,
.address_info_title,
.address_info {
  padding: 0px 20px;
}

.order_info li {
  margin-top: 10px;
}

.card,
#checkout_btn {
  font-size: 20px;
}

input:invalid {
  color: red;
}

.card-header {
  height: 50px;
  display: flex;
  align-items: center;
}
