<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./cart.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="cart.js" type="module" defer></script>
    <script src="../assets/layout/header-layout.js" type="module" defer></script>
    <script src="../assets/layout/footer-layout.js" type="module" defer></script>
  </head>
  <body>
    <main>
      <!--장바구니-->
      <section>
        <div class="title"><p class="fs-2 fw-bold">장바구니</p></div>
        <div class="container">
          <div class="row">
            <div class="cart_products_header col-md-4">
              <input class="form-check-input" type="checkbox" value="" id="all_select" />
              <button class="btn btn-light">
                <label class="form-check-label" for="all_select">전체선택</label>
              </button>
              <span>&nbsp|&nbsp</span>
              <button class="btn btn-light" id="partial_delete">선택삭제</button>
              <button class="btn btn-primary" id="addBtn">상품 추가</button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-8" id="cart_list">
              <!--장바구니에 등록된 상품 리스트-->
            </div>
            <!--상품 주문 요약-->
            <div class="order_box col-md-4">
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title fs-5">결제 금액</h5>
                </div>
                <!--상품 금액 계산-->
                <ul class="list-group list-group-flush" id="price_calculation">
                  <li id="productsCount" style="display: none"></li>
                  <li class="list-group-item">
                    상품금액
                    <p id="product_price"></p>
                  </li>
                  <li class="list-group-item">
                    상품할인금액
                    <p id="price_discount"></p>
                  </li>
                  <li class="list-group-item">
                    배송비
                    <p id="shipping_price"></p>
                  </li>
                  <li class="list-group-item">
                    총 결제 금액
                    <p id="total_order_price"></p>
                  </li>
                </ul>
                <div class="card-body d-grid">
                  <button class="btn btn-primary" id="purchase_button">주문하기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
