.product-name {
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-size: 18px;
}

.title {
  text-align: center;
  padding: 20px 20px;
}

.item_container {
  display: flex;
}

.cart_box {
  min-height: 500px;
}

.empty_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
}
.empty_cart p {
  font-size: 30px;
}

.card-title {
  margin-bottom: 0;
}

#purchase_button {
  font-size: 20px;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product_image {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  /* margin: 10px; */
}

@media (min-width: 320px) and (max-width: 700px) {
  .product_image {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    /* margin: 10px; */
  }
}
