/* ------------↓공통영역↓------------ */
@import '../_reset.css';
body {
  width: 1000px;
  margin: auto;
}
/* header */
header {
  margin-bottom: 20px;
}
header > h1 {
  text-align: center;
}
.main_logo {
  width: 120px;
  height: 120px;
}
.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu > ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* footer */
.footer {
  text-align: center;
  margin: 30px;
}
/* ------------↑공통영역↑------------ */

.title {
  text-align: center;
  margin: 30px 30px;
}

.btn_none {
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.item_image {
  object-fit: cover;
  height: 230px;
}

.item_image {
  width: 150px;
  height: 180px;
}

.cart_box {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.item_box {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.order_box {
  width: 250px;
  height: 450px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.order_price {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.order_price_box,
.order_adress_box {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
