<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./cart.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="#"><img class="main_logo" src="../assets/mainlogo.png" /></a>
      </h1>
      <hr />
      <nav class="nav_bar">
        <div class="nav_categories">카테고리</div>
        <div class="nav_menu">
          <ol>
            <li><a>마이페이지</a></li>
            <em>&nbsp;|&nbsp;</em>
            <li><a>로그아웃</a></li>
          </ol>
        </div>
      </nav>
    </header>
    <main>
      <!--장바구니-->
      <section>
        <div class="title"><p class="fs-2 fw-bold">장바구니</p></div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="all_check" />
          <label class="form-check-label" for="all_check">&nbsp전체선택</label>
          <span>&nbsp|&nbsp</span>
          <input type="button" class="btn_none" value="선택삭제" />
        </div>
        <hr />
        <div class="cart_box">
          <!--상품 리스트-->
          <div class="item_list">
            <ul>
              <li>
                <div class="item_box">
                  <div>
                    <input class="form-check-input" type="checkbox" value="" id="select_check" />
                    <a href="#">
                      <img src="../assets/image/test1.jpg" alt="상품사진" class="item_image" />
                    </a>
                  </div>
                  <div>
                    <a href="#" class="item_name">[만선] 광어회 (18cm)</a>
                  </div>
                  <div>
                    <button class="minus btn btn-outline-secondary">-</button>
                    <button id="count" class="btn">1</button>
                    <button class="plus btn btn-outline-secondary">+</button>
                  </div>
                  <div class="item_delete">
                    <button class="btn">X</button>
                  </div>
                </div>
              </li>
              <hr />
            </ul>
          </div>
          <!--주문정보-->
          <div class="order_box">
            <div class="order_adress_box">
              <div>
                <h3><i class="bi bi-geo-alt-fill"></i>배송지</h3>
              </div>
              <div>
                <span>서울시 오늘대로 바다길 22</span>
              </div>
              <div>
                <button class="btn btn-outline-primary">배송지 변경</button>
              </div>
            </div>
            <div class="order_price_box">
              <div class="order_price">
                <span>상품금액</span>
                <span
                  >42,400
                  <span>원</span>
                </span>
              </div>
              <div class="order_price">
                <span>상품할인금액</span>
                <span
                  >-3,200
                  <span>원</span>
                </span>
              </div>
              <div class="order_price">
                <span>배송비</span>
                <span
                  >3,000
                  <span>원</span>
                </span>
              </div>
              <div class="order_price">
                <span>결재예정금액</span>
                <span
                  >42,240
                  <span>원</span>
                </span>
              </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary">주문하기</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <hr />
    <footer>
      <div class="footer">
        <h1>푸터임. 나중에 정할거임 ㅋ</h1>
      </div>
    </footer>
  </body>
</html>
